* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background: #1d2021;
  color: #ebdbb2;
  padding: 0px 5px;
  margin: 0;
  border-radius: 3px;
}

.modules-left {
  padding-left: 5px;
}

.modules-right {
  padding-right: 5px;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#memory,
#network,
#temperature,
#temperature.critical,
#backlight,
#wireplumber,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
}

#window,
#tray,
#disk,
#cpu,
#memory,
#wireplumber,
#network,
#temperature,
#temperature.critical,
#backlight,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 4px;
}

#custom-rofi {
  padding: 0 6px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 3px 0px;
  font-size: 10px;
}

#workspaces button {
  color: #ebdbb2;
  padding: 0 2px;
  margin: 5px 3px;
}

#workspaces button:hover {
  color: #d3869b;
}

#workspaces button.visible {
  color: #292828;
}

#workspaces button.visible:hover {
  color: #292828;
}

#workspaces button.active {
  color: #d3869b;
}

#workspaces button.active:hover {
  color: #d3869b;
}

#workspaces button.urgent {
  color: #ea6962;
}

/* ================================ */
/*            window                */
/* ================================ */
#window {
  color: #d3869b;
}

#backlight {
  color: #f6c657;
}

/* ================================ */
/*            disk                  */
/* ================================ */
#disk {
  color: #d8a657;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  color: #a9b665;
}

/* ================================ */
/*             network              */
/* ================================ */
#network {
  color: #7daea3;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  color: #d8a657;
}

#temperature.critical {
  color: #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
  color: #f6c657;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
  color: #89b482;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#wireplumber {
  color: #e78a4e;
}

#pulseaudio.muted {
  color: #e78a4e;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: #689d6a;
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  color: #e78a4e;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  color: #ea6962;
  margin: 5px 0px;
}

#tray {
  padding: 0 6px 0 6px;
}
